@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  font-family: "Goudy Bookletter 1911", serif;
}
header {
  background-image: url(https://images.unsplash.com/photo-1600181982553-ce7d36051c01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.heading {
  grid-column: 3;
  grid-row: 1/-1;
}
h1 {
  color: #c7d67c;
  font-size: 35px;
}
button {
  grid-column: -2;
  grid-row: -2;
  height: 40px;
  width: 100px;

  background-color: #c7d67c;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
button:hover {
  background-color: #bbcf82;
}
/* .sidebar {
  background-color: rgb(170, 132, 106);
  grid-row: 2/-1;

  display: grid;
  grid-template-rows: 0.3fr 1fr;
  align-items: center;
} */
.content {
  grid-row: 2/-1;
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.book {
  background-color: #af7649;
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 10;
  background-image: url(https://images.unsplash.com/photo-1610824224972-db9878a2fe2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  width: 500px;
  height: 550px;
  max-width: 80%;
}
#modal.active {
  transform: translate(-50%, -50%) scale(1);
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}
#modal {
  color: #c7d67c;
}
label {
  font-weight: bold;
}
#modal {
  display: grid;
  grid-template-rows: 0.2fr 0.7fr;
  justify-items: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
fieldset {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  align-items: center;
  border: none;
  font-size: 20px;
  margin: 10px;
}
.radio fieldset {
  display: flex;
}
.radio fieldset fieldset {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
#modal h2 {
  font-size: 30px;
}
